<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>H28jk3aopenidtest</servlet-name>
		<servlet-class>com.gmail.yoshzawa.h28jk3aopenidtest.H28jk3aopenidtestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>H28jk3aopenidtest</servlet-name>
		<url-pattern>/h28jk3aopenidtest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>msredirect</servlet-name>
		<servlet-class>com.gmail.yoshzawa.h28jk3aopenidtest.MicrosoftRedirectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>msredirect</servlet-name>
		<url-pattern>/msredirect</url-pattern>
	</servlet-mapping>
	
	<filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
